[submodule "3rdparty/styleguide"]
	path = 3rdparty/styleguide
	url = https://github.com/google/styleguide.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/easyloggingpp"]
	path = 3rdparty/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/damlaren/yaml-cpp.git
[submodule "3rdparty/tinydir"]
	path = 3rdparty/tinydir
	url = https://github.com/cxong/tinydir.git
